name: Build and Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        compiler: [
          {c: gcc-12, cpp: g++-12},
          {c: gcc-13, cpp: g++-13},
          {c: gcc-14, cpp: g++-14},
          {c: clang-16, cpp: clang++-16},
          {c: clang-17, cpp: clang++-17},
          {c: clang-18, cpp: clang++-18}
        ]
        build_type: [Release, Debug]
        julia_version: ["1.9", "1.10"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up Julia
      uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia_version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libgrpc++-dev \
          libprotobuf-dev \
          protobuf-compiler-grpc \
          libyaml-cpp-dev \
          cmake

    - name: Build and install GoogleTest
      run: |
        git clone https://github.com/google/googletest.git -b v1.14.0
        cd googletest
        mkdir build && cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/usr
        make -j$(nproc)
        sudo make install
        cd ../..
        rm -rf googletest

    - name: Clone and build Philote-Cpp
      run: |
        cd ..
        git clone --recurse-submodules https://github.com/MDO-Standards/Philote-Cpp.git
        cd Philote-Cpp
        mkdir build && cd build
        cmake .. \
          -DCMAKE_C_COMPILER=${{ matrix.compiler.c }} \
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler.cpp }} \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DBUILD_TESTS=OFF
        make -j$(nproc)
        sudo make install

    - name: Philote-JuliaServer Build
      run: |
        mkdir build
        cd build
        cmake .. \
          -DCMAKE_C_COMPILER=${{ matrix.compiler.c }} \
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler.cpp }} \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DBUILD_TESTS=ON
        make -j$(nproc)
      working-directory: ${{github.workspace}}

    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure
      working-directory: ${{github.workspace}}
